astroid==2.2.5
autopep8==1.4.4
boto3==1.12.38
botocore==1.15.38
Django==2.2.22
django-cleanup==4.0.0
django-cors-headers==3.1.0
django-storages==1.9.1
djangorestframework==3.10.2
djangorestframework-simplejwt==4.3.0
docutils==0.15.2
gunicorn==19.9.0
isort==4.3.21
jmespath==0.9.4
lazy-object-proxy==1.4.2
mccabe==0.6.1
pbr==3.1.1
pycodestyle==2.5.0
PyJWT==1.7.1
pylint==2.3.1
pylint-django==2.0.11
pylint-plugin-utils==0.5
python-dateutil==2.8.1
pytz==2019.2
rope==0.14.0
s3transfer==0.3.3
six==1.10.0
sqlparse==0.3.0
stevedore==1.25.0
typed-ast==1.4.0
urllib3==1.25.6
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
wrapt==1.11.2
python-dotenv==0.10.5
